<section class="about">
    <div class="about--container">
        <div class="about--tips">
            <p>Insomnia Tips</p>
        </div>
        <div class="about--title">
            <h2>Looking Through A Window</h2>
        </div>
        <div class="about--text">
            <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum</p>
    
        </div>
        <div class="about--btn">
            <button class="btn--go">Go</button>
        </div>

    </div>

</section>