<section class="grid">
            <div class="grid--container__title">
                <h2 class="grid--title">3 Reasons To Purchase</h2>
            </div>
            <ul class="list">
                <li class="list--elem">
                    <div class="list--title">
                        <h3>Ut sed metus</h3>
                    </div>
                    <div class="list--p">
                        <p>Lorem ipsum dolor sit amet,consecteur.</p>
                    </div> 
                </li>
                <li class="list--elem2">
                    <div class="list--title">
                        <h3>Curabitur ac erat</h3>
                    </div>  
                    <div class="list--p">
                        <p>Mauris mattis urna quis lorem molestie.</p>
                    </div>
                </li>
                <li class="list--elem3">
                    <div class="list--title">
                        <h3>Morbi dictum</h3>
                    </div>
                    <div class="list--p">
                         <p>Aliquam in dolor et dolor tincidunt. </p>
                    </div> 
                </li>
            </ul>
            
            <div class="grid--btn">
                <button class="btn">More reasons</button>
            </div>
</section>