<section class="grid">
                <h2 class="grid--title">3 Reasons To Purchase</h2>
            <ul class="list">
                <li class="list--elem">
                    <div class="list--container">
                        <div class="list--title">
                            <h3>Ut sed metus</h3>
                        </div>
                        <div class="list--p">
                            <p class="p__list">Lorem ipsum dolor sit amet,consecteur.</p>
                        </div> 
                    </div>
                </li>
                <li class="list--elem2">
                    <div class="list--container">
                        <div class="list--title">
                            <h3>Curabitur ac erat</h3>
                        </div>  
                        <div class="list--p">
                            <p class="p__list">Mauris mattis urna quis lorem molestie.</p>
                        </div>

                    </div>
                </li>
                <li class="list--elem3">
                    <div class="list--container">
                        <div class="list--title">
                            <h3>Morbi dictum</h3>
                        </div>
                        <div class="list--p">
                             <p class="p__list">Aliquam in dolor et dolor tincidunt. </p>
                        </div> 

                    </div>
                </li>
            </ul>
         <button class="btn grid--btn">More reasons</button>
</section>