<section class="grid">
    <div class="grid--title">
        <h2>3 Reasons To Purchase</h2>
    </div>
    <div class="grid--list">
        <ul class="list">
            <li><h3>Ut sed metus</h3>Lorem ipsum dolor sit amet,consecteur.</li>
            <li><h3>Curabitur ac erat</h3>Mauris mattis urna quis lorem molestie.</li>
            <li><h3>Morbi dictum</h3>Aliquam in dolor et dolor tincidunt</li>
        </ul>
    </div>
    <div class="grid--btn">
        <button class="btn">More reasons</button>
    </div>

</section>