.footer{
//   margin:0 auto;
  padding: 0px;   
  height: 128px;
  background-color: $color-nav;
  position: relative;
  padding-top: 38px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}
.footer--arrow{
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50vw;

    
    
}
.footer--copy{
    height: 30px;
    width: 77px;
    font-size: 14px;
    color: $color-white;
    margin-top: 15px;
    text-align: center;

    
}
.footer--text{
    font-size: 14px;
    color: $color-white;
    margin-bottom: 30px;
    margin-left: 15px;
    text-align: center;
 }

 .heart{
    color: $color-white;
 }
 //Medias
@media all and (min-width: 768px){

    .footer{
  background-color: $color-black;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: row;
  justify-content: space-between;
 
  
}
}