.grid{
    width: 320px;
    height: 624px;
    background-color: #eff9ff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
       
}

.grid--container__title{
    width: 290px;
    height: 30px;
    background: red;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 45px;

}
.grid--title{
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px;
    padding: 0px;
    
    
}  
.list{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}
.list--elem{
    grid-row-start: 2;
    grid-row-end: 3;



} 
.list--title{
    width: 184px;
    height: 30;
    background: pink;
    margin-left: 68px;
    margin-right: 68px;

} 
.list--p{
    background: purple;
    width: 180px;
    height: 63;
    margin-left: 70px;
    margin-right: 70px;


}
.list--elem2{
    grid-row-start: 3;
    grid-row-end: 4;
     
} 
.list--elem3{
    grid-row-start: 4;
    grid-row-end: 4;
}   
.btn{
    width: 124px;
    height: 45px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: $color-white;
      
}
.grid--btn{
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $color-orange;
    margin-left: 68px;
    margin-right: 68px;
    text-align: center;
}
