.header{
    margin: 0px;   
    // position: relative; 
}
.container{
    margin: 0;
    // position: absolute;
    position: fixed;
    margin-top: 0px;   
}
.container--logo{
    background:#0271bc;
    width: 44px;
    height: 44px;
    text-align: center;    
}
.icono{
    margin: 14px;
}

