.page{
    margin: 0;
    padding: 0;
}
.header{
    margin: 0px;   
 
}
.container{
    margin: 0;
    position: fixed;
    z-index: 10; 
    margin-top: 0px;  
     
}
.container--logo{
    
    background:#0271bc;
    width: 44px;
    height: 44px;
    text-align: center; 
      
}
.icono{
    margin: 14px;
   
}

