.header{
    margin: 0px;   
 
}
.container{
    margin: 0;
    position: fixed;
    margin-top: 0px;   
}
.container--logo{
    background:$color-nav;
    width: 44px;
    height: 44px;
    text-align: center;    
}
.icono{
    margin: 14px;
}

