.hero {
    height: 100vh;
    background: url('../images/cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

.hero--title{
    padding: 0px;
    width: 290px;
    height: 110px;
    margin-top: 284px;
    margin-left: 14px;
    margin-right: 14px;
   
       
}
.hero--text{
    padding: 0px;
    margin-top: 10px;
    height: 21px;
    width: 290px;
    color: white;
    
}
.title{
    color: white;
    font-family: RobotoSlab ;
    text-transform: uppercase;
    font-size: 42px;
    margin: 0px;
    padding: 0px; 
       
}
.hero--arrow{
    width: 45px;
    height: 45px;
    background: yellow;
    border-radius: 22.5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 138px;
    margin-right: 137px;
}


