.hero {
    height: 100vh;
    background: url('../images/cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .container--hero{
    position: absolute;
    align-self: flex-end;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
}
 

.hero--title{
    padding: 0px;
    width: 290px;     
}
.hero--text{
    padding: 0px;
    margin-top: 10px;
    color:$color-white;
    // margin-left: 15px;
    // margin-right: 15px;
    font-family: RobotoSlab;
    font-size: 16px;
    
}
.title{
    color:$color-white;
    font-family: RobotoSlab ;
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    margin: 0px;
    padding: 0px; 
    
       
}
.hero--arrow{
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color:$color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;
    
}

//Medias
@media all and (min-width: 768px){
    .container--hero{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: 690px;  
        // margin-left: 39px;
        // margin-right: 39px; 
    }
    .hero--title{
       width: 690px;   
    
     }
    .title{
        font-size: 80px;       
    }
    .hero--text{
        width: 690px;
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
    
    }
    .hero--arrow{
        
        
    
    }
    

}
//medias web
@media all and (min-width: 1200px){
    
    .hero--title{
        // width: 730px;
        // height: 264px;
        }
     .title{
        font-size: 100px;   
            
    }
    
        .hero--arrow{
        // margin-left: 343px;
        // margin-right: 342px;
        // margin-bottom: 120px;
        
        }
}
